.section-title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

/* Header */
#header {
    background-color: #15133C;
}
#header .container {
    align-items: center;
}

#header .section-title {
    font-size: 2em;
    letter-spacing: 3px;
}

#header .section-title,
#header li a {
    color:#F1eee9;
}
#header a.active,
.navbar-toggler,
#spaces button.active {
    background-color: #ec994b;
    color: #F1eee9;
}

/* About Sect */
#about-carousel,
#about-carousel img {
    max-height: 85vh;
}
#about-carousel img {
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    cursor: pointer;
}

/* Services sct */
.card {
    background-color: #F1eee9;
    color: #15133C;
}

/* spaces */
#spaces button {
    color: #15133C;
}

/* Contact sct */

.btn.btn-dark {
    background-color: #15133C;
}

#contact ul .bi {
    color: #15133C;
    font-size: 150%;
}

.bg-dark-blue {
    background-color: #15133C;
}

.text-light-beige {
    color: #F1eee9;
}

#spaces .card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #15133C;
}